*,
html,
body{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

/*  NAVBAR START */
    header{
        width: 100%;
        background-color: #A6AEBF;
    }

    header nav{
        padding: 10px;
    }

    header nav ul{
        display: flex;
        justify-content: space-around;
        display: flex;
    }

    header nav ul li{
        list-style-type: none;
        align-content: center;
    }

    header nav ul li a{
        color: white;
        text-decoration: none;
        padding: 10px;
    }
/*  NAVBAR END */


/* HERO START */
    header .hero{
        width: 100%;
        background-color: #A6AEBF;
    }

    header .hero .container{
        padding: 50px;
    }

    header .hero .container ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        padding: 50px;
    }

    header .hero .container ul .block-center{
        display: block;
        text-align: center;
    }

    header .hero .container ul h2{
        font-size: 2rem;
        color: white;
    }
    header .hero .container ul p{
        color: white;
        margin: 15px;
    }
/* HERO END */


/*  START */
main{
    width: 100%;
    background-color: #A6AEBF;
}

    /* SIDEBAR START */
        aside{
            width: 100%;

            flex: 1;
            order: 1;
        }

        aside .container{
            padding: 10px;
        }

        aside .container ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }


            /* Card-1  */
                aside .container ul .card-1{
                    width: 100%;
                }

                aside .container ul .card-1 .container{
                    padding: 10px;
                    display: flex;
                }

                aside .container ul .card-1 .container img{
                    min-width: 50px;
                    max-width: 200px;

                    min-height: 100px;
                    max-height: 200px;
                    object-fit: cover;
                    border-radius: 100px;
                }
                aside .container ul .card-1 .container .information{
                    min-width: 100px;
                    max-width: 250px;
                    padding: 10px;
                }
                aside .container ul .card-1 .container .information h3{
                    color: black;
                }
                aside .container ul .card-1 .container .information p{
                    color: black;
                }

                aside .container ul .card-1 .container .information .social-group{
                    padding: 10px;
                }
                aside .container ul .card-1 .container .information .social-group a{
                    color: black;
                }
            /* Card-1  */

    /* SIDEBAR END */




    /* ARTICLE START */
        article{
            width: 100%;

            flex: 3;
            order: 1;
        }

        article .container{
            padding: 10px;
        }

        article .container ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }


            /* Content  */
                article .container ul .content{
                    width: 100%;
                }

                article .container ul .content .container{
                    padding: 10px;
                }

                article .container ul .content .container img{
                    min-width: 50%;
                    max-width: 100%;
                }
            /* Content  */



    /* ARTICLE END */


/*  EMD */






/* Responsive */
@media (min-width: 767px){

}



@media (min-width: 768px) and (max-width: 1023px){

}






@media( min-width: 1024px){
    aside{
        order: 2;
        flex: 1;
    }

    article{
        order: 1;
        flex: 3;
    }


}
/* Responsive */