*,
html,
body{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

/*  NAVBAR START */
    header{
        width: 100%;
        background-image:  url('../img/background/header.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    header nav{
        padding: 20px;
    }

    header nav ul{
        display: flex;
        justify-content: space-around;
        display: flex;
    }

    header nav ul li{
        list-style-type: none;
        align-content: center;
    }

    header nav ul li a{
        color: white;
        text-decoration: none;
        padding: 10px;
    }
/*  NAVBAR END */


/* HERO START */
    header .hero{
        width: 100%;
        background-image: url('../img/background/header.png');
        background-repeat: no-repeat;
        background-position-y: 78%;
        background-size: cover;
    }

    header .hero .container{
        padding: 50px;
    }

    header .hero .container ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        padding: 50px;
    }

    header .hero .container ul .block-center{
        display: block;
        text-align: center;
    }

    header .hero .container ul h2{
        font-size: 2rem;
        color: white;
    }
    header .hero .container ul p{
        color: white;
        margin: 15px;
    }
/* HERO END */


/*  START */
main{
    width: 100%;
    background-color: white;
}

main .container{
    padding: 10px;

    display: block;
    justify-content: center;
    flex-wrap: wrap;
}



    /* SIDEBAR START */
        aside{
            flex: 1;
            order: 1;
        }

        aside .container{
            padding: 10px;
        }

        aside .container ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }


            /* Card-1  */
                aside .container ul .card-1{
                    width: 100%;
                    box-shadow: 3px 2px 10px 1px black;
                }
                
                aside .container ul .card-1 .container{
                    padding: 10px;
                    display: flex;
                    
                    /* background-color: #26CCF4; */
                }

                aside .container ul .card-1 .container img{
                    min-width: 50px;
                    max-width: 200px;

                    min-height: 100px;
                    max-height: 300px;
                    object-fit: cover;
                    border-radius: 100px;
                }
                aside .container ul .card-1 .container .information{
                    min-width: 100px;
                    max-width: 250px;
                    padding: 10px;
                }
                aside .container ul .card-1 .container .information h3{
                    color: black;
                }
                aside .container ul .card-1 .container .information p{
                    color: black;
                }

                aside .container ul .card-1 .container .information .social-group{
                    padding: 10px;
                }
                aside .container ul .card-1 .container .information .social-group a{
                    color: #2c33ff;
                }
            /* Card-1  */

            /* Card-2 */
                aside .container ul .card-2{
                    width: 100%;
                    margin: 20px 0;
                    box-shadow: 3px 2px 10px 1px black;
                }

                aside .container ul .card-2 .container{
                    padding: 10px;
                }

                aside .container ul .card-2 .container ul{
                    display: flex;
                    justify-content: left;
                    flex-wrap: wrap;
                }

                
                
                aside .container ul .card-2 .container ul a{
                    width: 100%;
                    height: 70px;
                    align-content: center;
                    color: black;
                    text-decoration: none;

                    padding: 5px;
                    margin: 10px 0;

                    border: 1px solid black;
                }

                aside .container ul .card-2 .container ul a:hover{
                    opacity: 50%;
                }
                aside .container ul .card-2 .container ul a sup{
                    color: #2c33ff;
                }
            /* Card-2 */

    /* SIDEBAR END */




    /* ARTICLE START */
        article{
            flex: 3;
            order: 1;
        }

        article .container{
            padding: 10px;
        }

        article .container ul{
            display: block;
            justify-content: center;
            flex-wrap: wrap;
        }

        
        /* FLOAT */
        article .container ul .float{
            padding: 10px;
        }article .container ul .float a{
            color: #545EDB;
            text-decoration: none;
        }
        /* FLOAT */
        

            /* Content  */
                article .container ul .content{
                    width: 100%;

                }

                article .container ul .content .container{
                    padding: 10px;

                    min-width: 100px;
                    max-width: 800px;

                    border: 1px solid black;
                    margin: 50px 0;
                }


                article .container ul .content .container img{
                    min-width: 50%;
                    max-width: 100%;

                    min-height: 200px;
                    max-height: 400px;
                    object-fit: cover;
                }

                /* Tags */
                    article .container ul .content .container .flex{
                        display: flex;
                        flex-wrap: wrap;
                    }

                    article .container ul .content .container .flex li{
                        list-style: none;
                    }

                    article .container ul .content .container .flex li a{
                        text-decoration: underline white;
                        text-underline-offset: 5px;
                    }
                /* Tags */

                /* Wokwi */
                    .wokwi a{
                        color: #2c33ff;
                        transition: all ease-in 420ms;
                    }

                    .wokwi a:hover{
                        color: gray;
                        transition: all ease-in-out 550ms;
                    }

                    .wokwi a:hover i{
                        color: gray;
                        margin: 0 10px;
                        transition: all ease-in-out 550ms;
                    }

                    .wokwi a i{
                        transition: all ease-in 420ms;
                    }
                /* Wokwi */

                    /* PENDAHULUAN START */
                        article .container ul .content .container ul h2{
                            padding: 5px;
                        }

                        article .container ul .content .container ul p{
                            padding: 10px;
                        }
                    /* PENDAHULUAN END */


                    /* KOMPONEN */
                        article .container ul .content .container ul .komponen{
                            
                        }

                        article .container ul .content .container ul .komponen ul{
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                        }

                        article .container ul .content .container ul .komponen ul .komponen-group{
                            color: white;

                            min-width: 100px;
                            max-width: 133.5px;
                        }

                        article .container ul .content .container ul .komponen ul .komponen-group p{
                            padding: unset;
                        }

                            /* sc */
                            article .container ul .content .container ul .komponen ul .sc{
                                min-width: 100px;
                                max-width: 300px;

                                min-height: 200px;
                                max-height: 500px;
                            }
                            /* sc */
                            /* output */
                            article .container ul .content .container ul .komponen ul video{
                                min-width: 50%;
                                max-width: 100%;

                                min-height: 400px;
                                max-height: 600px;
                                object-fit: contain;
                            }
                            /* output */
                    /* KOMPONEN */
            /* Content  */



    /* ARTICLE END */


/*  EMD */






/* Responsive */
@media (min-width: 767px){

}



@media (min-width: 768px) and (max-width: 1023px){

}






@media( min-width: 1024px){
    main .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
         
        padding: 40px;
    }

    aside{        
        flex: 1;
        order: 2;
    }


    article{
        flex: 3;
        order: 1;
    }


    article .container ul .content .container ul .komponen ul .sc{
        min-width: 300px;
        max-width: 400px;

        min-height: 200px;
        max-height: 400px;
        object-fit: cover;
    }

}
/* Responsive */












/* Arrow Up START */
.arrow{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.arrow .container{
    padding: 40px;
}

.arrow .container ul{
    display: flex;
    justify-content: end;
}

.arrow .container a{
    color: white;
    padding: 10px;
    background-color: #2c33ff;
}.arrow .container a:hover{
    background-color: gray;
}
/* Arrow Up END */